@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@layer components {
  .menu {
    @apply flex items-center space-x-4 text-sm cursor-pointer hover:text-muted-foreground;
  }
  .btn {
    @apply shadow-xl shadow-primary_opacity hover:bg-primary_opacity text-xl !important;
  }
  .btn_outline {
    @apply bg-card hover:bg-primary_opacity dark:border dark:border-foreground hover:text-foreground !important;
  }
  .btn_destructive {
    @apply hover:bg-primary_opacity !important;
  }
  .card {
    @apply border-none shadow-xl !important;
  }
}

@layer base {
  :root {
    --background: 30, 100%, 97%;
    --foreground: 0, 0%, 5%;
    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 100% 10%;
    --primary: 29, 100%, 59%;
    --primary-foreground: 0, 0%, 0%;
    --secondary: 0, 0%, 85%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0, 0%, 20%;
    --muted-foreground: 0, 0%, 0%;
    --accent: 179 30% 80%;
    --accent-foreground: 217 5% 15%;
    --destructive: 5, 100%, 60%;
    --destructive-foreground: 0, 0%, 5%;
    --border: 29, 100%, 60%;
    --input: 29, 100%, 59%;
    --ring: 35, 100%, 76%;
    --radius: 1rem;
    --chart-1: 29, 100%, 59%;
    --chart-2: 22, 100%, 50%;
    --chart-3: 41, 100%, 31%;
    --chart-4: 35, 100%, 76%;
    --chart-5: 30, 100%, 97%;
  }
  .dark {
    --background: 200, 9%, 19%;
    --foreground: 0, 0%, 88%;
    --card: 165, 8%, 9%;
    --card-foreground: 0, 0%, 88%;
    --popover: 165, 8%, 9%;
    --popover-foreground: 0, 0%, 88%;
    --primary: 29, 100%, 59%;
    --primary-foreground: 165, 8%, 9%;
    --secondary: 0, 0%, 29%;
    --secondary-foreground: 0, 0%, 88%;
    --muted: 0, 0%, 29%;
    --muted-foreground: 0, 0%, 88%;
    --accent: 179 30% 80%;
    --accent-foreground: 217 5% 15%;
    --destructive: 5, 100%, 60%;
    --destructive-foreground: 0, 0%, 88%;
    --border: 29, 100%, 60%;
    --input: 165, 8%, 9%;
    --ring: 29, 100%, 59%;
    --radius: 1rem;
    --chart-1: 29, 100%, 59%;
    --chart-2: 22, 100%, 50%;
    --chart-3: 41, 100%, 31%;
    --chart-4: 35, 100%, 76%;
    --chart-5: 30, 100%, 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* fejléc */
  h1 {
    @apply font-bold text-3xl;
  }

  h2 {
    @apply font-bold text-2xl;
  }

  /* Input */
  input {
    @apply text-primary mt-0 placeholder:text-primary placeholder:opacity-80 dark:border dark:border-solid dark:border-primary !important;
  }

  /* Select */
  button[role="combobox"] {
    @apply rounded-b-none m-0 dark:border dark:border-solid dark:border-primary hover:bg-primary_opacity hover:text-foreground !important;
  }
  button[role="combobox"] span {
    @apply text-primary opacity-80 rounded-none !important;
  }
  button[role="combobox"] svg {
    @apply text-primary opacity-100 !important;
  }
  div[role="presentation"] {
    @apply bg-card !important;
  }
  div[role="listbox"] {
    @apply rounded-t-none !important;
  }
  div[role="option"] {
    @apply text-primary hover:bg-primary_opacity !important;
  }
  div[role="option"][aria-selected="true"] {
    @apply bg-primary_opacity;
  }

  /* DataPicker */
  div[id*="day-picker"][role="presentation"] {
    @apply bg-popover !important;
  }

  /* Combobox */
  div[role="dialog"][data-align="center"] div {
    @apply bg-card;
  }
  div[role="dialog"] div svg[class*="lucide-search"] {
    @apply text-foreground opacity-100;
  }

  /* x */
  svg[class*="lucide-x"] {
    @apply text-destructive focus:ring-0 focus:border-none;
  }

  /* Pagination */
  nav[role="navigation"] a {
    @apply hover:bg-primary_opacity;
  }
  a[aria-current="page"] {
    @apply bg-primary rounded-full;
  }

  /* menu */
  div[role="menuitem"] {
    @apply hover:bg-primary_opacity dark:text-foreground;
  }

  /* Charts */
  div[class="recharts-legend-wrapper"] {
    @apply hidden !important
  }
}
